@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* SLIDE FROM LEFT TO RIGHT  */
@keyframes slideInFromLeft {
  0% {
      transform: translateX(-5%);
  }
  100% {
      transform: translateX(0);
  }
}

.slide-in {
  animation: slideInFromLeft 1.5s ease-out forwards;
}

.animate-gradient {
  background: linear-gradient(90deg, #000000, #434343, #808080);
  background-size: 200% 200%;
  animation: gradient-transition 2s ease infinite;
}

/* CLERK  STYLING*/
/* Hides the "Secured by Clerk" element */
.cl-internal-1dauvpw {
  display: none; /* for the initial loginpage */
}


.cl-logoImage {
  border-radius: 50%;
}

.cl-logoImage:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.cl-logoImage:active {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px rgb(238, 255, 0);
}
